/* General Styles */
body {
  background-color: #f5f5f5;
}

.container {
  background-color: #fff;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Navbar Styles */
.navbar {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.navbar-brand {
  font-weight: bold;
  font-size: 28px;
  color: #007bff;
}

.navbar-toggler {
  border: none;
}

.nav-link {
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

.nav-link.active,
.nav-link:hover {
  background-color: transparent;
  color: #007bff;
}

.navbar-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navbar-nav .nav-item {
  width: 100%;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .navbar-nav .nav-item {
    width: auto;
    margin-bottom: 0;
  }
}

.bg-image {
  background-image: url('https://987storage.blob.core.windows.net/987container/img/house-gf00beaf3d_1920.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}



.col-md-6 {
  margin-left: 0;
  padding-left: 0;
}