{% extends 'base.html' %}

{% load static %}

{% block content %}
<h1>Property List</h1>
<div class="row">
  {% for property in properties %}
  <div class="col-md-6 mb-4">
    <div class="row no-gutters align-items-start">
      <div class="col-md-5">
        {% if property.photo %}
        <a href="{% url 'property_detail' property.pk %}"><img src="{{ property.photo.url }}" class="card-img-top"
            alt="{{ property.name }}"></a>
        {% else %}
        <img src="{% static 'img/placeholder.png' %}" class="card-img-top" alt="placeholder">
        {% endif %}
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'property_detail' property.pk %}">{{ property.name }}</a></h5>
          <p class="card-text">{{ property.description }}</p>
          <p class="card-text" style="font-size: 1.5rem; font-weight: bold;">${{ property.price|floatformat:2 }}</p>
        </div>
      </div>
    </div>
  </div>
  {% empty %}
  <div class="col-md-12">
    <p>No properties found.</p>
  </div>
  {% endfor %}
</div>
{% endblock %}